.ontop {
  background-color: white;
}
/*js stickers descuentos*/
.woocommerce .product-wrapper .onsale, .woocommerce .single-product-image .onsale {
  background-color: #2fd9de;
  color: black;
}
/*checkout cajas de regalo*/
.modulo-caja {
  margin-bottom: 5px;
  background-color: #F8F8F8;
  padding: 15px;
}
h4.titulo-empaque {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}
.checkbox-envoltura {
  width: auto !important;
  display: inline-block !important;
  position: relative;
  padding-right: 15px;
}
.checkbox-envoltura p label input {
  position: relative !important;
  left: 0;
  margin-left: 1px !important;
}
.checkbox-envoltura p label{
  padding-left: 0px;
  padding-bottom: 3px;
  width: 100% !important;
  display: inline-flex;
}
.checkbox-envoltura p#cantidad_caja_chica_field label[for="cantidad_caja_chica"],
.checkbox-envoltura p#cantidad_caja_grande_field label[for="cantidad_caja_grande"] {
  display: inline-block !important;
  width: auto !important;
}
#cantidad_caja_chica,
#cantidad_caja_grande {
  display: inline-block;
  width: 60px;
}

/*  */
.m-b-1 {
  margin-bottom: 10px;
}
/**/

.logo a img {
  width: 150px
}
/*  */
body.page-id-23 header.entry-header
body.page-id-23 .breadcrumbs {
  display: none;
}

/**/
/*.header-main {
-webkit-animation: fondo 0.5s infinite;
-moz-animation:    fondo 0.5s infinite;
-o-animation:      fondo 0.5s infinite;
animation:         fondo 0.5s infinite;

}*/

/*@-webkit-keyframes fondo {
0%   { background-color: lime; }
50% { background-color: purple; }
0%   { background-color: lime; }
}
@-moz-keyframes fondo {
0%   { background-color: lime; }
50% { background-color: purple; }
0%   { background-color: lime; }
}
@-o-keyframes fondo {
0%   { background-color: lime; }
50% { background-color: purple; }
0%   { background-color: lime; }
}
@keyframes fondo {
0%   { background-color: lime; }
50% { background-color: purple; }
0%   { background-color: lime; }
}*/
