/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Bootstrap
# Typography
# Elements
# Forms
# Navigation
## Links
## Menus
## Socials
## Pager
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
## Posts and pages
## Comments
# Modules
## Header Bar
## Main Slider
## Footer
## WooCommerce
# Infinite scroll
# Media
## Captions
## Galleries
--------------------------------------------------------------*/
@import "variables-site/_variables-site";
@import "mixins/_mixins-master";
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";
/*--------------------------------------------------------------
# Bootstrap Custom
--------------------------------------------------------------*/
@import "bootstrap";
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/_typography";
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/_elements";
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/_forms";
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
@import "navigation/_navigation";
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "modules/_accessibility";
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/_alignments";
/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
@import "modules/_clearings";
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
@import "site/secondary/_widgets";
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import "site/_site";
/*--------------------------------------------------------------
# Modules ## Header Bar
--------------------------------------------------------------*/
@import "modules/_header-bar";
/*--------------------------------------------------------------
# Modules ## Header
--------------------------------------------------------------*/
@import "modules/_header";
/*--------------------------------------------------------------
# Modules ## Slider
--------------------------------------------------------------*/
@import "modules/_main-slider";
/*--------------------------------------------------------------
# Modules ## Footer
--------------------------------------------------------------*/
@import "modules/_footer";
/*--------------------------------------------------------------
# Modules ## WooCommerce
--------------------------------------------------------------*/
@import "modules/_woocommerce";
/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
@import "modules/_infinite-scroll";
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/_media";

// some custom styles
@import "https://fonts.googleapis.com/css?family=Lato|Open+Sans";

body {
  p, div, section, article, a, span {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
  }
  input, textarea, select {
    color: gray !important;
  }
  .sf-menu {
    border-top: 1px solid lightgray;
    a {
      // font-family: "Open Sans",sans-serif;
      font-family: 'Lato', sans-serif;
      font-weight: lighter;
      text-transform: uppercase;
    }
  }
  .site-content {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.woocommerce-store-notice, p.demo_store {
  font-size: 1.1em;
  padding: 1em 0;
  text-align: center;
  // background-color: #a46497;
  background-color: $color__brand-primary;
  color: #fff;
}
.custom-logo {
  margin-top: 16px;
}
.main-slider .hero-caption.center {
  left: 30px;
  // left: 25%;
  -webkit-transform: translateX(30px);
  // -webkit-transform: translateX(25%);
  -khtml-transform: translateX(30px);
  // -khtml-transform: translateX(50%);
  -moz-transform: translateX(30px);
  // -moz-transform: translateX(25%);
  -ms-transform: translateX(30px);
  // -ms-transform: translateX(25%);
  -o-transform: translateX(30px);
  // -o-transform: translateX(25%);
  transform: translateX(30px);
  // transform: translateX(25%);
}

.main-slider .hero-caption {
  position: absolute;
  width: 350px;
  // top: 80%;
  top: 50%;
  text-align: center;
}
.hero-caption span {color: black !important;}

.main-slider .main-slider-previous i, .main-slider .main-slider-next i {
  color: $color__brand-primary;
  font-size: 90px;
}
.main-slider .main-slider-previous {
  left: 3%;
}
.main-slider .main-slider-next {
  right: 3%;
}
.main-slider .hero-caption .btn-group a {
  border: 2px solid $color__brand-primary !important;
  color: $color__brand-primary;
  background-color: #FFF;
  &:hover {
    color: #FFF !important;
  }
}
.woocommerce-loop-product__title {
  height: 100px;
}
.woocommerce ul.products li.product .button {
  text-transform: capitalize;
}
.texto_suscripcion {
  div {
    p {
      color: white;
    }
  }
}
#mc_embed_signup {
  background: #fff;
  border-radius: 6px;
  font: 16px 'Lato', sans-serif;

}
#mc-embedded-subscribe-form {
  padding: 16px;
  input {
    width: 100% !important;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: black;
    color: lightgray;
    &[type="submit"] {
      background-color: $color__brand-primary;
      &:hover {
        opacity:0.9;
      }
    }

  }
  .clear {
    text-align: center;
  }
}
.wpb_text_column {
  p {
    color: black;
    a:hover{
      color: white
    }
  }
}
.wpcf7-form {
  p {
    color: black;
    span {
      input, textarea {
        background-color: black;
        color: lightgray;
      }
    }
  }

}
.woocommerce .woocommerce-info {
  border: 0;
  width: 100%;
}
.tyche-blog-meta a {
  margin-bottom: 2.5px !important;
}
.woocommerce table.shop_table .product-remove a.remove {
  line-height: 22px;
}
// Template Ofertas
.sale-item {
  padding: 8px;
  li {
    padding: 8px;
    a.woocommerce-loop-product__link {
      display: block;
      position: relative;
      overflow: hidden;
      span.onsale {
        padding: 16px 8px;
        background: #24d1cb;
        color: #fff;
        text-align: left;
        position: absolute;
        transform: rotate(-45deg);
        left: 20px;
        top: 20px;
        border-radius: 56px;
        font-weight: bolder;
      }
      h2.woocommerce-loop-product__title {
        line-height: 26px !important;
        font-size: 1.25em !important;
      }
      span.price {
        display: block !important;
        width: 100% !important;
        padding: 8px !important;
        text-align: center !important;
        font-size: 1.5em !important;
      }
    }
    a.add_to_cart_button {

    }
  }
}
