
:root {
  --armario-primario: #26CFCB;
}

* {
  outline: 1px solid var(--armario-primario,#26CFCB);
}

.woocommerce ul.products li.product .button,
.woocommerce ul.products li.product button:not(.pswp__button):not(.customize-partial-edit-shortcut-button),
.woocommerce ul.products li.product input[type="button"],
.woocommerce ul.products li.product input[type="reset"],
.woocommerce ul.products li.product input[type="submit"],
.woocommerce ul.products li.product .tyche-blog-post .more-link,
.tyche-blog-post .woocommerce ul.products li.product .more-link,
.woocommerce ul.products li.product .main-slider .hero-caption .btn-group a,
.main-slider .hero-caption .btn-group .woocommerce ul.products li.product a,
.woocommerce ul.products li.product .tyche-product-slider-container .tyche-banner a,
.tyche-product-slider-container .tyche-banner .woocommerce ul.products li.product a {
    margin-top: 10px;
    background-color: var(--armario-primario);
}
